body {
  margin: 0;
  background-color: #fafafa;
}

#features {
  width: 30%;
  margin-right: 70%;
  font-family: sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
}
section {
  padding:  25px 25px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.5;
  font-size: 13px;
  min-height: 90vh;
}
section.active {
  opacity: 1;
}
section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}

.mapLegend {
  position: absolute;
  bottom: 25px;
  right: 5px;
  z-index: 105;
  width: 300px;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #999;
}
.mapLegend ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mapLegend ul li {
  padding: 0;
  margin: 0;
  font-size: 10px;
  color: #666;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
}

.mapLegend li.graph {
  clear: both;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #b3b3b3;
}

.mapLegend li.graph .colors {
  display: table-row;
}

.mapLegend li.graph div {
  width: 100%;
  height: 18px;
}

.mapLegend li.graph .quartile {
  display: table-cell;
}

.mapLegend li.min {
  float: left;
  margin: 0 0 5px;
}

.mapLegend li.max {
  float: right;
  margin: 0 0 5px;
}
